.preloader{position:absolute;top:0;width:50px;height:50px;left:50%;margin-left:-25px;background:#e49;-webkit-animation:rotatePreload 2s infinite linear}
@-webkit-keyframes rotatePreload{0%{-webkit-transform:perspective(600px) rotateX(65deg) rotateY(25deg) rotateZ(0deg)} 100%{-webkit-transform:perspective(600px) rotateX(65deg) rotateY(25deg) rotateZ(360deg)}}.loadedContent img{height:200px}
.loadedContent h1{position:relative;width:600px}
a.active{color:red}
